---
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/NavBar.astro';
import Footer from '../../components/Footer.astro';

export interface Props {
    post: CollectionEntry<"blog">;
}

export async function getStaticPaths () {
    const posts = await getCollection("blog", ({data}) => !data.draft);

    return posts.map((post) => ({
        params: {slug: post.slug},
        props: {post}
    }))
}

const { post } = Astro.props;

---
<Layout title={post.data.title}>
    <main class="flex flex-col items-center m-4">
        <div class="md:w-[60%] w-full">
            <h2 class="font-bold md:text-5xl text-3xl mr-2 my-8">{post.data.title}</h2>
            <p>{post.body}</p>
        </div>
    </main>
    <Footer isBottom={true} slug={post.slug} />
</Layout>