---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import getSortedPosts from "../utils/getSortedPosts";

const posts = await getCollection("blog");
const sortedPosts = getSortedPosts(posts);
---

<Layout title="Écrits">
  <main class="flex flex-col items-center mt-6 mx-4">
    {sortedPosts.map((post) => <Card title={post.data.title} slug={post.slug} description={post.data.description} date={post.data.pubDatetime} />)}
  </main>
  <Footer isBottom={false} />
</Layout>