---
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Contexte">
  <main class="flex flex-col items-center">
    <div class="md:w-[60%] my-4">
      <h2 class="font-bold text-5xl mr-2 my-8">Contexte</h2>
      <p>Hey ! Oui toi qui viens par ici, je m'adresse bel et bien à toi ! Bienvenue sur mon petit site. En ce mois de novembre 2023, j’ai décidé de relever le défi lancé par @kobo.writing.life.fr / @kobo_fr soit, à partir d’un mot imposé, écrire entre 250 et 750 signes en l’incluant dans le texte. J’ai trouvé ce format pertinent pour retrouver progressivement l’envie et surtout l’habitude d’écrire. Écrire, je le faisais souvent quand j’étais plus jeune. Étant une amoureuse des livres, je ne me voyais pas me passer de cette activité. J’avais aussi envie de créer mon propre monde et de le décrire de mes propres mots.

        Or j’ai arrêté il y a longtemps. J’ai trop prêté attention aux jugements des autres plutôt que d’écrire pour moi. Ce qui m’a freiné et amené à ne plus coucher le moindre mot. Alors j’ai décidé de dépasser ça et de suivre les conseils de Rainer Maria Rilke. Écrire par conviction personnelle forte et non pour chercher la popularité, les compliments, l’assentiment d’autrui. Néanmoins je souhaite vous partager mes bouts de texte. Sachez en tous les cas que je m’amuse à ce défi et que je remercie chaque personne qui aura pris le temps de les lire. </p>
    </div>
  </main>
  <Footer isBottom={false} />
</Layout>