---
import Layout from "../layouts/Layout.astro";
import LastCard from "../components/LastCard.astro";
import CurrentWritings from "../components/CurrentWritings.astro";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content";
import getLastPost from "../utils/getLastPost";

const posts = await getCollection("blog");
const lastPost = getLastPost(posts);

---

<Layout title="Défi d'écriture 2023">
  <LastCard title={lastPost.data.title} body={lastPost.body} />
  <CurrentWritings />
  <Footer isBottom={false} />
</Layout>
