---
import {Icon} from 'astro-icon';
import getDate from '../utils/getDate';

interface Props {
    title: string;
    date: Date;
    description: string;
    slug: string;
}

const {title, slug, date, description} = Astro.props;
---

<astro-card class="flex flex-col items-center md:w-[60%]">
    <div class="mb-4">
        <a href=`/blog/${slug}` class="text-emerald-900 hover:underline underline-offset-4 hover:decoration-dashed cursor-pointer font-bold text-lg">{title}</a>
        <div class="flex items-center">
            <Icon size={24} name="mdi:calendar" />
            <span class="ml-2 italic text-md py-1">{getDate(date)}</span>
        </div>
        <p>{description}</p>
    </div>
</astro-card>