---
import Icon from 'astro-icon';
import Card from './Card.astro'
import { getCollection } from "astro:content";
import getSortedPosts from "../utils/getSortedPosts";
import getLastFourPosts from '../utils/getLastPosts';

const posts = await getCollection("blog");
const sortedPosts = getSortedPosts(posts);
const lastFourPosts = getLastFourPosts(sortedPosts);

---

<astro-card class="p-4 flex flex-col items-center">
    <div class="md:w-[60%]">
        <h2 class="font-bold text-2xl pb-6">Écrits récents</h2>
    </div>
    {lastFourPosts.map((post) => 
        <Card title={post.data.title} slug={post.slug} date={post.data.pubDatetime} description={post.data.description} />
    )}
    <a href="/allPosts/" class="flex items-center my-6 cursor-pointer hover:text-emerald-900 hover:underline underline-offset-4 hover:decoration-dashed">
        <p>Tous les écrits</p>
        <Icon name="mdi:chevron-double-right" size={24} class="text-emerald-900" />
    </a>
</astro-card>