---
import { Icon } from 'astro-icon';

export interface Props {
    isBottom?: boolean;
    slug?: string;
}

const { isBottom, slug } = Astro.props;
---

<astro-footer class={`flex flex-col items-center w-full mb-4 ${isBottom && slug !== 'manuscrit' ? 'md:absolute bottom-0' : 'relative'}`}>
    <div class="md:flex justify-between items-center md:w-[60%] border-t pt-6 hidden">
        <p>Copyright © 2023 | All rights reserved.</p>
        <div class="flex items-center">
            <a href="https://twitter.com/AlineLSMN">
                <Icon name="mdi:twitter" class="w-8 h-8 mr-2" />
            </a>
            <a href="https://www.linkedin.com/in/ladevdelatoile/">
                <Icon name="mdi:linkedin" class="w-8 h-8" />
            </a>
        </div>
    </div>

    <div class="text-center md:hidden">
        <div class="flex justify-center">
            <a href="https://twitter.com/AlineLSMN">
                <Icon name="mdi:twitter" class="w-8 h-8 mr-2" />
            </a>
            <a href="https://www.linkedin.com/in/ladevdelatoile/">
                <Icon name="mdi:linkedin" class="w-8 h-8" />
            </a>
        </div>
        <p>Copyright © 2023</p>
        <p>All rights reserved.</p>
    </div>
</astro-footer>