---
import { Icon } from 'astro-icon'

interface Props {
    title: string;
    body: string;
}

const {title, body} = Astro.props;
---

<astro-card class="p-4 flex flex-col items-center">
    <div class="md:w-[60%] border-b pb-6">
        <div class="flex items-center">
            <h2 class="font-bold text-5xl mr-2 my-8">{title}</h2>
                <Icon class="text-emerald-900" size={24} name="mdi:spider-thread" />
        </div>
        <p>{body}</p>
    </div>
</astro-card>
