---
//  import { Image } from 'astro:assets';
//  import logo from './src/assets/spider.jpg';
---

<astro-nav>
    <nav class="bg-white border-gray-200 md:py-4 border-b">
        <div class="flex flex-wrap items-center justify-between p-4">
          <a href="/" class="flex items-center">
              <!-- <Image src={logo} class="w-12 h-12 rounded-full mr-2 object-cover" alt="logo" /> -->
              <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">La tisseuse de mots</span>
          </a>
          <button id="hamburgerButton" data-collapse-toggle="navListing" type="button" aria-label="Open Menu" aria-expanded="false" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
              </svg>
          </button>
          <div class="hidden w-full  md:block md:w-auto" id="navListing">
            <ul class="flex flex-col items-center font-bold md:font-medium p-4 md:p-0 mt-4 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
              <li>
                <a href="/context/" class="block py-2 pl-3 pr-4 text-gray-900 hover:text-emerald-900 rounded md:bg-transparent md:p-0" aria-current="page">Contexte</a>
              </li>
              <li>
                <a href="/allPosts/" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:text-emerald-900  md:p-0">Écrits</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</astro-nav>

<script>
  const hamburgerButton = document.getElementById('hamburgerButton');
  const navbar = document.getElementById('navListing');

  function toggleNav() {
    hamburgerButton?.addEventListener('click', () => {
      const menuExpanded = hamburgerButton.getAttribute("aria-expanded") === "true";
      hamburgerButton.setAttribute("aria-expanded", menuExpanded ? "false" : "true");
        hamburgerButton.setAttribute(
          "aria-label",
          menuExpanded ? "Open Menu" : "Close Menu"
        );
      navbar?.classList.toggle('hidden');
    });
  }

  toggleNav();

  document.addEventListener("astro:after-swap", toggleNav);

</script>
